.section-card {
    border-radius: 20px;
    margin: 10px 20px 60px 20px;
    top: 100px;
    position: relative;
    background-color: var(--text-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rebeccapurple;
}

.section-card__title {
    color: var(--shadows);
}
.section-card__button {
    width: 4rem;
    border: none;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50px;
    opacity: 0.5;
}
.section-card__button-select {
    width: 4rem;
    border: none;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50px;
    }

header {
    position: relative;
}

.section-card__hints {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.section-card__hint {
    font-family: var(--font-fam);
    font-size: 70%;
    color: var(--shadows);
    padding-bottom: 10px;
}
.card-profile {
    position: relative;
    background-color: var(--text-color);
    margin: 20px;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rebeccapurple;
    border-radius: 20px;
    margin-bottom: 100px;
    top: 90px;}

.section-card__content {
    text-align: center;
    font-family: var(--font-fam);
    color: var(--shadows);
    font-size: 80%;
    padding: 10px;
}

.card__section-answers {
    background-color: var(--text-color);
    box-sizing: border-box;
    padding-bottom: 30px;
    margin: 40px 20px 40px 20px;
    position: relative;
    top: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rebeccapurple;
}
