@import "./global.css";
@import "./cards.css";
* {
    font-family: var(--font-fam);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--seckground-color);
    padding-bottom: 150px;
}
main {
    display: grid;
    place-items: center;
}
/* header */
header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 1px 1px 1px 1px var(--highlight-color);
    z-index: 1;
}

h1 {
    text-align: center;
    font-family: var(--font-fam);
    color: var(--highlight-color);
    text-shadow: 1px 2px px white;
}

/* main */

button {
    background-color: var(--shadows);
    color: white;
    position: relative;
    border-radius: 20px;
    height: 30px;
    box-shadow: 1px 1px 1px 1px rebeccapurple;
    transition: all 1s ease-out;
}

.button.active {
    transform: scale (.9);
    box-shadow: 3px 2px 2px 3px rebeccapurple; 
}

.section-card__button {
    opacity: 0.5;
}

.section-card__liked {
    opacity: 1;
}

.section-card__hidden {
    color: var(--text-color);
}
.section-card__answer {
    color: var(--shadows);
}
.section-card__button:hover {
    cursor: crosshair;
}

li {
    list-style: none;
}

.section-card__content {
    text-align: center;
    font-family: var(--font-fam);
    color: var(--shadows);
    font-size: 80%;
    padding: 10%;
}

/* footer */
footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    height: 15%;}

.icon {
    width: 3rem;
    background-color: var(--text-color);
    border-radius: 50px;
    transition: background-color .3s;
    animation: pulse 500ms infinite;
}
.icon:hover{
    background-color: var(--shadows);
}

/* profile page */

.sote {
    width: 50%;
    border-radius: 100%;
    position: relative;
    margin: 30px;
}
h4 {
    margin: 0;
    padding: 0;
    color: var(--shadows);
    font-family: var(--font-fam);
}
.container {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    padding: 20px;
    align-content: center;
    flex-direction: column;
}

/* @keyframes pulse {
    from{
    box-shadow: 0 0 0 0 rgba(222, 0, 0, 1)};
to {box-shadow: 0 0 5px 5px rgb(0, 22, 0, 0)};
} */



/* form.html page */
.form {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
}
input {
    margin: 10px;
}